<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.deltaquick.packs" platformBuildVersionCode="34" platformBuildVersionName="14">
    <application android:hasCode="false" android:label="Deltarune Pack" android:largeHeap="true"/>
</manifest>
